*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------top-bar(cabecalho)----------------*/

.topbar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #3B4F66;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    
}

.topbar .img-topbar
{
    height: 110;
    width: 110px;
    display: flex;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    float: left;
    height: 110px;
    align-items: center;
}

.menu a{
    font-family:'Open-sans';
    font-size: 25px;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
}

.menu a:first-child{
    margin-left: 0;
}

.menu a:hover{
    color: #6e9769;
}

.menu a::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #6e9769;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
}

.menu a:hover::before{
    transform: scale(1,1);   
} 




/* --------------toda pagina------------- */
.todaahome{
    width: 100vw;
    height: 230vh;
    background-color: cyan;
}

/* -----------Conteudo Principal--------- */
main{
    background-color: blue;
    width: 100%;
    height: 100%;
    top: 100px;
    position: absolute;
    bottom: 0;
} 

/* -------------section 1-------------- */

.primeira{
    background-color: white;
    width: 100%;
    height: 50%;
}

.imagemPrimeiraSection{
    background-color: white;
    width: 800px;
    height: 448px;
    position: absolute;
    right: 0;
    margin: 130px 10px 0 30px;

}

.conteudoPrimeiraSection{
    background-color: white;
    width: 35%;
    height: 83%;
    padding: 15px;
    margin: 101px 0 0 20px;
    position: absolute;

} 

.caixaConteudo{
    background-color:white;
    width: 300px;
    height: 300px;
    margin: 10px 0 0 10px;
}

.conteudoPrimeiraSection button{
    height: 10%;
    width: 60%;
    top: 10px;
    background-color: rgba(10,23,55,0.5);
    font-size: medium;
    color: white;
    border: none;
    position: absolute;
    margin: 400px 0 0 60px;
    border-radius: 40px;
}

.conteudoPrimeiraSection button:hover {
    background-color: #368AEB;
    cursor: pointer;
  }


/* ------------section 2---------------*/

 .segunda{
    background-color: white;
    top: 200vh;
    width: 100%;
    height: 50%;
}

.imagemSegundaSection{
    background-color: white;
    width: 800px;
    height: 448px;
    margin: 101px 0 0 20px;
    position: absolute;
}

.conteudoSegundaSection{
    background-color: white;
    width: 35%;
    height: 83%;
    padding: 15px;
    position: absolute;
    right: 0;
    margin: 130px 10px 0 30px;

} 

.caixaConteudo{
    background-color:white;
    width: 300px;
    height: 300px;
    margin: 10px 0 0 10px;
}

.conteudoSegundaSection button{
    height: 10%;
    width: 60%;
    top: 10px;
    background-color: rgba(10,23,55,0.5);
    font-size: medium;
    color: white;
    border: none;
    position: absolute;
    margin: 400px 0 0 60px;
    border-radius: 40px;
}

.conteudoSegundaSection button:hover {
    background-color: #368AEB;
    cursor: pointer;
  } 
/*-------------Rodape--------------- */
footer{
    height: 10%;
    width: 100%;
    background-color:#3B4F66;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoSemLegenda{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoSemLegenda img{
    width: 130px;
    height: 40px;
    margin-right: 40px;
}

.icones{
    height: 50%;
    background-color: #3B4F66;
    border-left: 2px solid #A17322;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icones img{
    width: 40px;
    height: 40px;
    margin: 0 80px 0 80px;
}

